* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal; }

body {
  background-color: #f7f7f7; }

.color-white {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #fff; }

.color-brown {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #996f40; }

.color-grey {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #646a7f; }

.color-purple {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #ccb9d2; }

.color-blue {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #1e2b41; }

.color-soft-blue {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #686f8a; }

.color-dark-blue {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #01171a; }

.color-beige {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #e7e4df; }

.color-black {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-color: #121212; }

.color-black-white {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-image: linear-gradient(90deg, #ffffff 50%, #212121 50%); }

.color-beige-white {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-image: linear-gradient(90deg, #e7e4df 50%, #fff 50%); }

.color-beige-brown {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  background-image: linear-gradient(90deg, #e7e4df 50%, #996f40 50%); }

.main-search {
  border: 1px solid #e7e7e7;
  height: 63px;
  display: flex; }
  .main-search form {
    width: 100%;
    padding-left: 30px;
    background-color: #ffffff; }
  .main-search button {
    flex: 0 0 0; }
  .main-search button:focus {
    box-shadow: none; }
  .main-search input {
    flex: 1 0 0;
    border: 0;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 18px; }
  .main-search input:focus {
    box-shadow: none; }

.page-section {
  margin-bottom: 1.5em;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 0; }
  .page-section h1 {
    font-size: 24px;
    padding: 40px 0;
    font-family: neue-haas-grotesk-text, sans-serif;
    color: #2c2c2c;
    margin: 0; }

.main-nav {
  background-color: #ffffff; }

.nav-items a {
  margin: 0 1rem;
  font-size: 1.7rem; }

#navbarNavDropdown {
  justify-content: flex-end; }
  #navbarNavDropdown .navbar-nav {
    align-items: center; }
    #navbarNavDropdown .navbar-nav li {
      margin-right: 0.5rem; }
    #navbarNavDropdown .navbar-nav i {
      margin-right: 3rem; }
  #navbarNavDropdown .btn {
    color: #212121;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none; }
  #navbarNavDropdown .btn:focus {
    box-shadow: none; }
  #navbarNavDropdown .fa-bag-shopping {
    font-size: 1.4em; }
  #navbarNavDropdown .form-control {
    border: 1px solid #e7e7e7;
    background-color: #f2f2f2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  #navbarNavDropdown .form-control:focus {
    box-shadow: inset 0 0 0px 1px #d5d5d540; }
  #navbarNavDropdown a {
    margin: 0;
    border-radius: 2px;
    font-size: 0.8rem; }
  #navbarNavDropdown input {
    font-size: 0.8rem;
    transition: none; }
  #navbarNavDropdown button {
    padding: 0em 1em;
    width: auto; }

.navbar-toggler {
  margin-top: 1px;
  padding: 0.25em 0.5em;
  font-size: inherit;
  border: 1px solid #e7e7e7;
  color: #212121; }

.navbar-toggler-icon {
  width: 1.6em;
  height: 1.9em; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-collapse {
  padding: 10px 0px; }

.page-nav {
  font-size: 0.75rem;
  background: #ffffff;
  padding: 0.8em;
  border: 1px solid #e7e7e7; }
  .page-nav ol {
    margin: 0.5em;
    margin-left: 1.3em; }
    .page-nav ol li a {
      text-decoration: none;
      color: #000000; }

@media (max-width: 991px) {
  #navbarNavDropdown .navbar-nav li {
    margin-right: 0rem;
    margin-bottom: 0.5rem; }
  #navbarNavDropdown .navbar-nav i {
    margin-right: 0rem;
    margin-bottom: 1rem; } }

.p-30 {
  padding: 0 30px; }

.card-box {
  border-radius: 0%; }
  .card-box .p-05 {
    padding: 0.5em; }

.item-name {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-family: neue-haas-grotesk-text, sans-serif; }

.flex-info {
  display: flex;
  align-items: center; }
  .flex-info .item-price {
    margin-bottom: 0;
    flex: 1;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    font-size: 20px; }
  .flex-info .flex-color {
    flex: 1; }
    .flex-info .flex-color ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end; }
    .flex-info .flex-color li {
      position: relative;
      width: 16px;
      height: 16px;
      margin: 3px;
      cursor: pointer; }
    .flex-info .flex-color a {
      display: block;
      width: 100%;
      height: 100%; }

#product-view section {
  background-color: #ffffff;
  display: flex;
  padding: 1em 1em;
  justify-content: center;
  gap: 1em; }
  #product-view section .product-img {
    flex: 1;
    max-width: 520px; }
    #product-view section .product-img img {
      width: 100%;
      height: auto; }
  #product-view section .product-info {
    flex: 1;
    max-width: 420px; }
    #product-view section .product-info .title h1 {
      font-size: 1.4rem;
      font-family: neue-haas-grotesk-text, sans-serif;
      font-weight: 500; }
    #product-view section .product-info .price {
      margin: 1em 0; }
      #product-view section .product-info .price span {
        font-size: 1.3rem;
        font-weight: 500; }
      #product-view section .product-info .price p {
        font-size: 0.7rem;
        color: #757575;
        font-weight: 500;
        margin: 0; }
    #product-view section .product-info .color {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0.5em 0em; }
      #product-view section .product-info .color span {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0.5rem; }
      #product-view section .product-info .color ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem;
        list-style: none; }
      #product-view section .product-info .color li {
        position: relative;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.3rem;
        cursor: pointer; }
      #product-view section .product-info .color a {
        display: block;
        width: 100%;
        height: 100%; }
    #product-view section .product-info form div span {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0.5rem; }
    #product-view section .product-info form div ul {
      padding: 0;
      display: flex;
      list-style: none;
      text-align: center;
      gap: 0.4em;
      flex-wrap: wrap;
      margin-bottom: 1em; }
      #product-view section .product-info form div ul li {
        display: inline-block; }
        #product-view section .product-info form div ul li input {
          display: none; }
        #product-view section .product-info form div ul li label {
          display: inline-block;
          text-align: center;
          padding: 0.5rem 1rem;
          border: 1px solid;
          cursor: pointer;
          font-size: 0.9rem; }
      #product-view section .product-info form div ul li:hover {
        background-color: #212121;
        color: #ffffff; }
    #product-view section .product-info form button {
      width: 100%;
      padding: 14px 28px;
      border: none;
      background-color: #212121;
      color: #ffffff;
      font-family: neue-haas-grotesk-text, sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin: auto; }
    #product-view section .product-info .pay-info {
      margin-top: 1em; }
      #product-view section .product-info .pay-info span {
        font-size: 14px;
        font-weight: 600; }
      #product-view section .product-info .pay-info p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 1em; }
      #product-view section .product-info .pay-info a {
        font-size: 0.7em;
        font-family: neue-haas-grotesk-text, sans-serif;
        color: #212121; }

footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 1em;
  margin-top: 4em;
  font-size: 0.75em; }
  footer h6 {
    font-size: 1.4em;
    font-weight: 600; }
  footer p {
    font-weight: 400;
    font-family: neue-haas-grotesk-text, sans-serif; }
  footer .nav-footer {
    padding: 0; }
    footer .nav-footer a {
      font-weight: 400;
      font-family: neue-haas-grotesk-text, sans-serif;
      text-decoration: none;
      color: #212121; }
    footer .nav-footer a:hover {
      text-decoration: underline; }

@media (max-width: 992px) {
  footer {
    text-align: center;
    flex-direction: column;
    justify-content: center; } }

.contact-section {
  margin-bottom: 1.5em;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 0; }
  .contact-section h1 {
    font-size: 24px;
    padding: 40px 0;
    font-family: neue-haas-grotesk-text, sans-serif;
    color: #2c2c2c;
    margin: 0; }

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-left: 10px; }

/*Important que no puedo quitar*/
section div textarea {
  height: 300px !important;
  resize: none; }

section button {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: #212121;
  color: #ffffff;
  font-size: 0.8rem;
  margin-top: 1rem;
  border-radius: 2px; }

.map-responsive {
  grid-area: map;
  border: 1px solid #e7e7e7;
  width: 900px;
  height: 615px; }

@media (max-width: 1720px) {
  .map-responsive {
    width: auto;
    height: 615px; } }
