* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: $neue-display;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #f7f7f7;
}