.main-search {
    border: $border;
    height: 63px;
    display: flex;
    form {
        width: 100%;
        padding-left: 30px;
        background-color: $main-color;
    }
    button {
        flex: 0 0 0;
    }
    button:focus {
        box-shadow: none;
    }
    input {
        flex: 1 0 0;
        border: 0;
        font-family: $neue-text;
        font-size: 18px;
    }
    input:focus {
        box-shadow: none;
    }
}

.page-section {
    margin-bottom: 1.5em;
    background: $main-color;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;
    h1 {
        font-size: 24px;
        padding: 40px 0;
        font-family: $neue-text;
        color: #2c2c2c;
        margin: 0;
    }
}