
@mixin color-circle{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

$color-item: ("brown":$brown-color, "green":$green-color, "red":$red-color, "blue":$blue-color, "orange":$orange-color);

@each $name,
$color in $color-item {

    .color-#{$name} {
        @include color-circle();
        background-color: $color;
    }

}