.main-nav {
    background-color: $main-color;
}

.nav-items {
    a {
        margin: 0 1rem;
        font-size: 1.7rem;
    }
}

#navbarNavDropdown {
    justify-content: flex-end;
    .navbar-nav {
        align-items: center;
        li {
            margin-right: 0.5rem;
        }
        i {
            margin-right: 3rem;
        }
    }
    .btn {
        color: $secondary-color;
        background-color: $main-color;
        border: $border;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: none;
    }
    .btn:focus {
        box-shadow: none;
    }
    .fa-bag-shopping {
        font-size: 1.4em;
    }
    .form-control {
        border: $border;
        background-color: $medium-white;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .form-control:focus {
        box-shadow: inset 0 0 0px 1px #d5d5d540;
    }
    a {
        margin: 0;
        border-radius: 2px;
        font-size: 0.8rem;
    }
    input {
        font-size: 0.8rem;
        transition: none;
    }
    button {
        padding: 0em 1em;
        width: auto;
    }
}

.navbar-toggler {
    margin-top: 1px;
    padding: 0.25em 0.5em;
    font-size: inherit;
    border: $border;
    color: $secondary-color;
}

.navbar-toggler-icon {
    width: 1.6em;
    height: 1.9em;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    padding: 10px 0px;
}

.page-nav {
    font-size: 0.75rem;
    background: $main-color;
    padding: 0.8em;
    border: $border;
    ol {
        margin: 0.5em;
        margin-left: 1.3em;
        li {
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
}

@media (max-width: 991px) {
    #navbarNavDropdown {
        .navbar-nav {
            li {
                margin-right: 0rem;
                margin-bottom: 0.5rem;
            }
            i {
                margin-right: 0rem;
                margin-bottom: 1rem;
            }
        }
    }
}