$neue-text: neue-haas-grotesk-text, sans-serif;
$neue-display: neue-haas-grotesk-display, sans-serif;

$main-color: #ffffff;
$secondary-color: #212121;
$border: 1px solid #e7e7e7;
$soft-white: #fafafa;
$medium-white: #f2f2f2;
$soft-grey: #585858;
$brown-color:#a52a2a;
$green-color:#008000;
$red-color:#ff0000;
$blue-color:#0000ff;
$orange-color:#ffa500;