$neue-text: neue-haas-grotesk-text,
sans-serif;
$neue-display: neue-haas-grotesk-display,
sans-serif;
$main-color: #ffffff;
$secondary-color: #212121;
$border: 1px solid #e7e7e7;
$soft-white: #fafafa;
$medium-white: #f2f2f2;
$soft-grey: #585858;
$white-color:#fff;
$brown-color:#996f40;
$grey-color:#646a7f;
$purple-color:#ccb9d2;
$blue-color:#1e2b41;
$soft-blue:#686f8a;
$dark-blue:#01171a;
$beige-color:#e7e4df;
$black-color:#121212;
$black-white: linear-gradient(90deg, $main-color 50%, $secondary-color 50%);
$beige-white: linear-gradient(90deg, $beige-color 50%, $white-color 50%);
$beige-brown: linear-gradient(90deg, $beige-color 50%, $brown-color 50%);