#product-view {
    section {
        background-color: $main-color;
        display: flex;
        padding: 1em 1em;
        justify-content: center;
        gap: 1em;
        .product-img {
            flex: 1;
            max-width: 520px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .product-info {
            flex: 1;
            max-width: 420px;
            .title {
                h1 {
                    font-size: 1.4rem;
                    font-family: $neue-text;
                    font-weight: 500;
                }
            }
            .price {
                margin: 1em 0;
                span {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
                p {
                    font-size: 0.7rem;
                    color: #757575;
                    font-weight: 500;
                    margin: 0;
                }
            }
            .color {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0.5em 0em;
                span {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                }
                ul {
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0.5rem;
                    list-style: none;
                }
                li {
                    position: relative;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin: 0.3rem;
                    cursor: pointer;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            form {
                div {
                    span {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                    }
                    ul {
                        padding: 0;
                        display: flex;
                        list-style: none;
                        text-align: center;
                        gap: 0.4em;
                        flex-wrap: wrap;
                        margin-bottom: 1em;
                        li {
                            display: inline-block;
                            input {
                                display: none;
                            }
                            label {
                                display: inline-block;
                                text-align: center;
                                padding: 0.5rem 1rem;
                                border: 1px solid;
                                cursor: pointer;
                                font-size: 0.9rem;
                            }
                        }
                        li:hover {
                            background-color: $secondary-color;
                            color: $main-color;
                        }
                    }
                }
                button {
                    width: 100%;
                    padding: 14px 28px;
                    border: none;
                    background-color: $secondary-color;
                    color: $main-color;
                    font-family: $neue-text;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: auto;
                }
            }
            .pay-info {
                margin-top: 1em;
                span {
                    font-size: 14px;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 1em;
                }
                a {
                    font-size: 0.7em;
                    font-family: $neue-text;
                    color: $secondary-color;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .product-info {
        padding: 1rem;
        gap: 0;
        form {
            div {
                ul {
                    li {
                        margin: 0.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #product-view {
        margin: 0;
    }
}